<%= form_for @student do | f | %>
<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</p>
<br>
<p>
  <%= f.label :hometown %><br>
  <%= f.text_field :hometown %>
</p>
<br>
<p>
  <%= f.label :birthday %><br>
  <%= f.date_field :birthday %>
</p>
<br>
  <%= f.submit %>
<% end %>
